.routing {
  display: flex;
  flex-direction: column;
}

.routing-input {
  display: flex;
}

.routing-lists {
  margin-top: 1rem;
  position: relative;
  overflow: auto;
  height: 60vh;
}

.routing-form {
  display: flex;
  gap: 1rem;

  align-items: center;
}

.routing-generate-btn {
  position: absolute;
  right: 5rem;
  bottom: 3rem;

  background-color: #209CE2;
  color: white;
  font-weight: 700;

  border: none;
  border-color: #209CE2;
  border-radius: 1rem;

  padding: 1rem 3rem;

  cursor: pointer;
}

.routing-generate-btn:disabled {
  cursor: not-allowed;
}

.routing-table {
  margin: 2rem auto;
  margin-top: 0;
  overflow-y: scroll;
  height: 100px;
}

.routing-table td {
  background-color: #F7FCFF;
}

.routing-head {
  width: 100%;
  background-color: #8AC4E4;
  position: sticky;
  top: 0;
  z-index: 100;
}

.routing-head th {
  font-weight: 700 !important;

}

.routing-form-add {
  background-color: #209CE2;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
}

.routing-head-row {
  position: sticky;
}

.action-btn {
  padding: 0.3rem 0.8rem;
  margin-right: 0.8rem;

  border: none;
  border-radius: 0.2rem;

  cursor: pointer;
}

.action-btn.action-edit {
  background-color: #BDE09A;
}

.action-btn.action-delete {
  background-color: crimson;
}

.routing-body {}

.routing-body-row {}